body {
  min-width: 1440px;
}

img {
  width: 100%;
}

header,
.menu_list,
section,
footer {
  font-size: 0;
}
p {
  font-size: 1.2rem;
}

header {
  background-color: #eeeeee;
  border-bottom: solid #d8d8d8;
  padding: 30px 0 35px 0;
}

header > div {
  width: 1040px;
  margin: 0 auto;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
}

.logo_link {
  display: inline-block;
  text-align: center;
}
.logo_img_container {
  width: 60px;
  margin: 0 auto;
}
.logo p {
  transform: translate(0, -10px);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 200;
  color: black;
}

.menu_list {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 90%;
}
.menu_list li + li {
  margin-left: 50px;
}
.menu_list li {
  display: inline-block;
}

.menu_list li a {
  display: inline-block;
  padding: 20px 40px;
  font-size: 1rem;
  color: #929292;
}
.menu_list .active,
.menu_list li a:hover {
  color: orange;
}

section {
  padding-top: 70px;
  padding-bottom: 220px;
}

section:first-child {
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: #fdfdfd;
}
.event_page {
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}
.event_page > div + div {
  margin-left: 50px;
}

.event_info_content h2 {
  font-size: 4rem;
  font-weight: normal;
  line-height: 4rem;
}
.event_info_content h3,
.article_title {
  font-size: 2rem;
  font-weight: normal;
}
.event_info {
  display: inline-block;
  vertical-align: top;
  width: 450px;
}
.event_info > div + div {
  margin-top: 25px;
}

.article_page {
  margin: 0 auto;
  width: 1000px;
}
.event_info_content {
  text-align: initial;
}
.event_info_apply div {
  display: inline-block;
}
.event_info_apply p {
  text-align: initial;
  font-size: 14px;
}
.apply_link {
  display: block;
  padding: 20px 55px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    #f5b75a 0%,
    #f5b75a 50%,
    #eb9937 50%,
    #eb9937 100%
  );
  color: white;
  font-size: 1.5rem;
}
.event_img_container {
  display: inline-block;
  width: 400px;
}
.article_container {
  margin-top: 25px;
  columns: 2;
  column-gap: 40px;
}

.article_container p {
  margin: 0;
  width: 480px;
  break-inside: avoid;
  text-align: initial;
}
.article_container p + p {
  margin-top: 35px;
}

footer {
  padding: 30px 0 25px 0;
  background-color: #eeeeee;
  border-top: solid #d8d8d8;
}
.footer_container {
  margin: 0 auto;
  width: 1040px;
}
.footer_container div {
  display: inline-block;
  vertical-align: middle;
}
.copyright {
  width: 50%;
}
.copyright > p {
  font-size: 0.8rem;
}
.community {
  text-align: end;
  width: 50%;
}

.community_list li {
  display: inline-block;
  line-height: 0;
}
.community_list li + li {
  margin-left: 20px;
}

.community_list a {
  display: inline-block;
  color: black;
  font-size: 2rem;
}
.community_list a:hover {
  color: orange;
}
